/* GridComponent.module.css */

.grid-container {
  display: grid;
  grid-template-columns: repeat(19,minmax(100px,1fr));
  grid-template-rows: repeat(25,1fr);
}


.grid-cell {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  overflow-y: scroll; /* テキストがはみ出た場合に隠す */
  overflow-x: scroll;
}
